/*Reset*/
/*---------------------------------*/
/*---------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent !important ;
  text-shadow: 0 0 0 white !important;
}
option:not(:checked) {
  color: white !important; /* prevent <option>s from becoming transparent as well */
}

/* Initial */
/*---------------------------------*/
/*---------------------------------*/

body {
  font-family: "arial", "Roboto";
  display: grid;
  grid-template-areas:
    "h h"
    "m m"
    "f f";
  grid-template-rows: 60px auto auto;
}

a {
  text-decoration: none;
  color: black;
}

header {
  grid-area: h;
  background: #414453;
  height: 60px;
}

main {
  grid-area: m;
  min-height: 100vh;
}

aside {
  grid-area: s;
  min-height: 100vh;
  display: none;
}

footer {
  grid-area: f;
  background: #414453;
  min-height: 60px;
}

.nav a {
	 height: 100%;
}

.nav > *:hover, .nav a:hover {
  background: #404040;
 
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/*Header*/
/*---------------------------------*/
/*---------------------------------*/

header {
  display: flex;
  align-items: center;
}

/* header bars */

header .bars {
  color: white;
  padding: 0 20px 0 0;
  flex: 1 0 auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

header .bars div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

header .bars div:hover {
  background: #404040;
}

/* header .nav */

header .nav {
  flex: 1 0 auto;
  height: 100%;
  padding: 0 10px;
  display: none;
  align-items: center;
}

header .nav > * {
  padding: 0 20px;
    height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
}



/* menu-hover-item */

.menu-hover {
	position: relative;
	display: flex !important;
	background: #414453;
}

.menu-hover {
  width: 150px !important;;
}


.menu-hover-item {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
display: none;
  z-index: 200;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.menu-hover-item a  {
  padding: 10px;
  display: flex;
  justify-content: center;
  background: #414453;
  color: white;
}


.menu-hover:hover  .menu-hover-item {
  display: block !important;
 
}

/* header .icon */

header .icon {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 10px;
  height: 100%;
  align-items: center;
}

.icon > * {
  margin-left: 20px;
  color: white;
}

.icon input {
  background: none;
  border: none;
  color: white;
  padding: 10px 10px;
  outline: none;
}

.icon .search {
  display: flex;
  align-items: center;
}

.icon input:focus-within {
  border-bottom: 2px solid white;
}


/* menu hover */


.menu-hover {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

/* aside */
/*---------------------------------*/
/*---------------------------------*/

aside {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.profile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
  padding-right: 110px;
  background: linear-gradient(to left top, #7e81e2, #989bea);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 30%, 40% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 30%, 40% 100%, 0 100%, 0 0);
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.profile span {
  color: white;
  margin-top: 5px;
}

aside .nav {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

aside .nav a {
  padding: 20px 40px;
  border-left: 5px solid white;
}

aside .nav a:hover,
aside .nav a:focus-within {
  background: #8a8de611;
  border-left: 5px solid blue;
}
 
.sorotnav aside .nav a:hover,
.sorotnav aside .nav a:focus-within 
 {
  background: #8a8de611;
  border-left: 5px solid blue;
}

/* main */
/*---------------------------------*/
/*---------------------------------*/

main {
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "t"
    "f"
    "d";
  grid-gap: 10px;

  grid-template-rows: auto auto;
}

main > * {
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.table {
  grid-area: t;
}

.form {
  background-color: white;
  grid-area: f;
}

.dropdown {
  grid-area: d;
}

.sorot {
	background-color: #414453 !important;
}

/* table */

.title {
  padding: 20px 0 10px 0;
}

.title span {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to left top,#414453, #414453dd);
  color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.content {
  width: 100%;
}

.table table {
  width: 100%;
  margin-top: 10px;
  background: transparent;
  padding: 10px 10px 20px 10px;
}

/* table	 */
table tr td:nth-child(even) {
  display: none;
}

tr:not(:first-child) {
  font-size: 14px;
  color: #666;
}

tr:nth-child(odd) td {
  background: #898CE544;
}

tr td:nth-child(2) {
  text-align: center;
}

.sorot table tr td {
  color: white;
}

table tr:first-child td {
  padding: 20px;
  background: #898ce5;
  height: 30px;
  text-align: center;
  color: white;
}

table tr td {
  padding: 10px;
}

/* form */

.form .title span {
  
}

.sorot .title span {
	background: linear-gradient(to left bottom, #8b8ee6, #8b8ee644) !important ;
}

.input-fields {
  box-sizing: border-box;
  padding: 10px 0 20px 0;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
.input-fields input {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: transparent;
  color: #333;
  font-size: 16px;
  border-bottom: 2px solid #898CE5;
  outline: none;
}

.sorot .input-fields input {
	border-bottom: 2px solid white;
	color: white !important;
}

.action {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.input-fields select {
  border: none;
  background: transparent;
  padding: 10px;
  outline: none;
  color: #666;
  border: 2px solid #898CE5;
  border-radius: 4px;
  width: 100%;
}

.sorot .input-fields select {
	color: white;
  border: 2px solid white;
}

.sorot .input-fields > div > i {
	color: white;

}


.input-fields option {
  background: #898CE5;
  color: white;
  border: none;
}

.sorot .input-fields option {
  background: #414453;
  color: white;
  border: none;
}

.input-fields > div {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.input-fields > div > i {
  position: absolute;
  align-self: center;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #444;
}

.action button {
  outline: none;
  border: none;
   background: linear-gradient(to left top,#414453, #414453dd);
  color: white;
  padding: 10px 44px;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sorot .action button {
	background: linear-gradient(to left bottom, #8b8ee6, #8b8ee644);
}

.sorot .action button:hover {
	background: linear-gradient(to left bottom, #8b8ee6, #8b8ee644);
}

.action button:hover {
   background: linear-gradient(to left top,#414453, #414453dd,  #414453dd);
}

.action button:active {
  transform: scale(0.99);
  outline: none;
}

/* dropdown */

.dropdown {
  grid-area: d;
}

.select {
  width: 70%;
  display: grid;
  grid-template-columns:
    "c"
    "."
    "."
    "."
    ".";
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
  color: white;
  overflow: hidden;
}

.select > label {
  display: flex;
  height: 60px;
  text-align: 60px;
  justify-content: flex-start;
  padding: 0 20px;
  cursor: pointer;
  background-color: #898ce5;
}

.select > label:nth-child(2) {
  background-color: none;
  background-position: right;
  background-position-x: calc(100% - 20px);
  background-repeat: no-repeat;
  background-image: url(2ss.png);
}

.select > label:not(.placeholder):hover {
  background: none;
  color: #414453;
}

.sorot .select > label:not(.placeholder):hover {
  color: white;
}

.select input {
  display: none;
}

.placeholder,
option {
  display: flex;
  align-items: center;
}
.placeholder:not(:checked) ~ .option {
  display: none;
}

.placeholder:checked ~ .option {
  display: flex;
}


/* footer */
/*---------------------------------*/
/*---------------------------------*/


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer div {
  font-size : 14px;
}

/* responsive */
/*---------------------------------*/
/*---------------------------------*/
.flexmed {
  display: none !important;
}
.flexsmall {
  display: flex !important;
}

@media only screen and (min-width: 500px) {
  table tr td:nth-child(even) {
    display: table-cell;
  }
}

@media only screen and (min-width: 680px) {
  /*Responsive*/
  .flexmed {
    display: flex !important;
  }

  .flexsmall {
    display: none !important;
  }
}

@media only screen and (min-width: 800px) {
  /* form */
  main {
    grid-template-areas:
      "d d"
      "t f";
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 990px) {
  body {
    grid-template-areas:
      "s h h"
      "s m m"
      "f f f";
    grid-template-columns: 250px auto auto;
  }
  aside {
    display: block;
  }
}


